{% extends 'base.html' %}

{% block content %}



<div class="px-4 py-0.1 my-5 text-center">

  <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
  <lord-icon
      src="https://cdn.lordicon.com/vlupvdhl.json"
      trigger="loop"
      colors="primary:#e88c30,secondary:#e4e4e4"
      style="width:250px;height:250px">
  </lord-icon>

  <h2 class="display-5 fw-bold" style="font-family:sans-serif">¿Qué datos necesitas?</h2>





 <div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

          {% for linea in mis_iconos %}
          <div class="feature col">
            <a href="{% url 'lineas' id_linea=linea.id_linea %}" style="color:black; text-decoration:hover">
              <lord-icon
                src={{linea.img_src}}
                trigger="morph-two-way"
                colors="primary:#121331,secondary:#e86830"
                style="width:70px;height:70px">
            </lord-icon>
          <p> {{linea.nombre_linea}}</p></a>
          </div>
            {% endfor %}


            <!-- {% for linea in lineas %}
            <div class="feature col">
              <a href="{% url 'lineas' id_linea=linea.id_linea %}" style="color:black; text-decoration:hover">
                <lord-icon
                  src={{linea.img_src}}
                  trigger="morph-two-way"
                  colors="primary:#121331,secondary:#e86830"
                  style="width:70px;height:70px">
              </lord-icon>
            <p> {{linea.nombre_linea}}</p></a>
            </div>
              {% endfor %} -->
    </div>

  </div>

 <!-- <div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/rqqkvjqf.json"
              trigger="morph-two-way"
              colors="primary:#121331,secondary:#e86830"
              style="width:70px;height:70px">
          </lord-icon>


        <p>Ciberseguridad</p>

      </div>
      <div class="feature col">
        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/gqdnbnwt.json"
            trigger="morph-two-way"
            colors="primary:#121331,secondary:#e86830"
            style="width:70px;height:70px">
        </lord-icon>

        <h5>Ciencia e ingeniería de datos</h5>

      </div>
      <div class="feature col">

        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/wrprwmwt.json"
              trigger="morph-two-way"
              colors="primary:#121331,secondary:#e86830"
              style="width:70px;height:70px">
          </lord-icon>

        <h5>Computación de altas prestaciones</h5>
      </div>
      <div class="feature col">

        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/soseozvi.json"
              trigger="morph-two-way"
              colors="primary:#121331,secondary:#e86830"
              style="width:70px;height:70px">
          </lord-icon>

        <h5>Inteligencia artificial</h5>

      </div>
      <div class="feature col">

        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/tclnsjgx.json"
              trigger="morph-two-way"
              colors="primary:#000000,secondary:#e86830"
              style="width:70px;height:70px">
          </lord-icon>

        <h5>Servicios y redes inteligentes</h5>

      </div>
    </div>
  </div> -->

</div>






<!--
  <div class="album py-5 bg-light">

    <div class="container">
      <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3">Últimos datasets </h2>

      <div class="row">

        {% for archivo in archivos %}
        <div class="col-md-4 align-items-stretch pt-3">
          <div class="card shadow-sm h-100">
            <div class="card-body">

              <h3>{{archivo.nombre_archivo}}</h3>

              <p class="card-text">{{archivo.descripcion_archivo}}.</p>
              <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div> -->




  <div class="b-example-divider"></div>



{% endblock %}
